<footer class="bg-dark text-white py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>We are a professional painting company dedicated to transforming spaces with quality and care.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="/services" class="text-white text-decoration-none">Services</a></li>
                    <li><a href="/contact" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Info</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt"></i> Hoppers Crossing, VIC 3029</li>
                    <li><i class="fas fa-phone"></i> +61411146406</li>
                    <li><i class="fas fa-envelope"></i> info@smarthandpainting.au</li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">
            <div class="social-links">
                <a href="#" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-white mx-2"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <p class="mb-0">&copy; 2023 Smart Hand Painting. All rights reserved.</p>
        </div>
    </div>
</footer>